body{background-color: black;
    /*color: aliceblue;*/
    color: rgb(255, 255, 255); 
    /*background-image: url("moviess_fone.jpg")*/

    
    
}

h2{

    text-align: center;
   /* text-shadow: 2px 2px #FF0000;*/
    font-size: 20px;
}

h3{
    font-size: 20px;
}







.all_movies
{
display: flex;
flex-wrap: wrap;
justify-content: baseline;
row-gap:35px;
/*gap: 10px;*/
}
.text{
    flex-basis: 50%;
}


.all_class{
    display: flex;
    flex-direction: row-reverse;
    width: 1180px;
    column-gap: 15px;
    
}


/*бутон*/
a:link, a:visited {
    background-color: #ffffff;
    color: rgb(10, 12, 12);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}
    /*маркиране на бутона*/
a:hover, a:active {
    background-color:rgba(15, 201, 230, 0.638);
}


b{ color: rgba(15, 201, 230, 0.638);

}

a{color: aliceblue;}