body{background-color: black;
    /*color: aliceblue;*/
    color: rgb(0, 0, 0); 
    /*background-image: url("moviess_fone.jpg")*/

    
    
}

h2{
    color: #ffffff;
}
p{
    color: #ffffff;
}


.all_movies
{
display: flex;
flex-wrap: wrap;
justify-content: baseline;
row-gap:35px;
/*gap: 10px;*/
}
.text{
    flex-basis: 50%;
}
.all_class{
    display: flex;
    flex-direction: row-reverse;
    width: 650px;
    column-gap: 15px;
    
}

i{
    color: #ffffff;
}
/*бутон*/
a:link, a:visited {
    background-color: #ffffff;
    color: rgb(10, 12, 12);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}
    /*маркиране на бутона*/
a:hover, a:active {
    background-color:rgba(15, 201, 230, 0.638);
}


b{ color: rgba(15, 201, 230, 0.638);

}

a{color: aliceblue;}